################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TallyBakery.Application/.vs/TallyBakery/v16
/TallyBakery.Application/.vs/TallyBakery/DesignTimeBuild
